$green: #44b444;

body,
html {
    text-align: center;
    color: white !important;
}

::selection {
    background-color: lighten($green, 10%);
}

.dev-tools,
.mobile {
    display: none
}

.web {
    display: block;
}

a:hover,
.list-group-item {
    cursor: pointer;
}

.container-fluid {
    padding-top: 2em;
    background: $green;
    height: 100vh;
}

.logo {
    font-family: 'Satisfy', cursive;
    font-size: 5.5em;
}

.nav-logo {
    font-family: 'Satisfy', cursive;
    color: #fff !important;
    font-size: 1.4em;
    padding-bottom: 0px;
}

#ribbit {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

#results {
    display: none;
    padding-bottom: 10px;
}

.quote {
    font-family: 'Yrsa', serif;
    font-size: 1.7em;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: lighten($green, 10%) !important;
}

.progress-bar {
    background-color: lighten($green, 10%) !important;
}

.navbar-toggler {
    border-color: transparent !important;
}

input#inputTask {
    width: 100%;
    padding: 5px;
    margin-top: 10px;

    &:focus {
        outline: 2px solid lighten($green, 10%);
    }
}

#simpleList {
    padding-top: 10px;
}

.list-group-item {
    background-color: lighten($green, 10%) !important;
}

.row.main {
    justify-content: center;
    align-items: center;
    height: 100%;
}

#add-more {
    display: none;
}

.btn {
    background-color: lighten($green, 10%);
    border-color: $green;
    color: white;
    font-size: 1.1em;

    &:hover {
        color: white;
        background-color: darken($green, 10%);
    }
}

p#focusTask {
    font-size: 1.7em;
}

.info-text {
    font-size: 1.2em;
}

#add-section,
#order-section,
#do-section,
#settings {
    display: none;
    top: -70px;
    max-width: 500px;
    flex: auto;
}

#pomodoro-container {
    position: absolute;
    width: 200px;
    top: 80px;
    left: 5%;
    box-shadow: 11px 16px 17px 0px darken($green, 5%);
    background-color: lighten($green, 10%);
    padding: 5px;
    display: none;
    padding-bottom: 5px;
    cursor: move;

    button {
        background-color: lighten($green, 10%);
        color: white;
        border: 0;
        padding: 1px 7px;
        margin: 2px auto;
        border-radius: 5px;

        &:hover {
            background-color: darken($green, 10%);
        }
    }

    .fa-cog {
        position: absolute;
        top: 7px;
        left: 7px;
        cursor: pointer;
    }
}

#countdown {
    font-size: 4em;
}

input[type=number] {
    width: 50px;
    padding: 5px;
}

@media only screen and (max-width: 576px) {
    .quote {
        font-size: 1.3em;
    }

    #pomodoro-container {
        width: 100%;
        box-shadow: none;
        background: none;
        color: white;
        bottom: 5%;
        left: unset;
        top: unset;
        z-index: 0;
        position: fixed;
    }

    .web {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

}