body,html{
    text-align:center;
}

.container-fluid {
    padding-top: 2em;
}

.logo {
    font-family: 'Satisfy', cursive;
    color: #44b444;
    font-size: 2.5em;
}

.nav-logo {
    font-family: 'Satisfy', cursive;
    color: #fff !important;
    font-size: 1.4em;
    padding-bottom: 0px;
}

#ribbit {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

#results {
    display: none;
    padding-bottom: 10px;
}

.quote {
    font-family: 'Yrsa', serif;
    font-size: 1.7em;
}

.navbar, .progress-bar {
    background-color: #44b444!important;
}

.navbar-toggler {
     border-color: transparent !important; 
}

input#inputTask {
    width: 100%;
    padding: 5px;
margin-top: 10px;
}

input#inputTask:focus {
    outline: 2px solid #32bc0f;
}

#simpleList {
    padding-top: 10px;
}

.row.main {
    justify-content: center;
}

#add-more {
    display: none;
}

.fa-frog{
    color: #fff;
}

.btn {
    background-color: #44b444;
    border-color: #44b444;
    color: #fff;
    font-size: 1.1em;
}

.btn:hover {
    color: #fff;
}

p#focusTask {
    font-size: 1.7em;
}

.info-text {
    font-size: 1.2em;
}

#order-section, #do-section {
    display: none;
}

@media only screen and (max-width: 576px) {
    .quote {
        font-size: 1.3em;
    }
  }
